@model Bip.Reisdocument

@{
    ViewData["Title"] = "Reisdocument";

    Object ReturnProp(String name, Object obj)
    {
        foreach (String part in name.Split(' '))
        {
            if (obj == null) { return null; }

            Type type = obj.GetType();
            var info = type.GetProperty(part);
            if (info == null) { return null; }

            obj = info.GetValue(obj, null);
        }

        return obj;
    }

    IEnumerable<object> ReturnIEnumerable(object obj)
    {
        return ((IEnumerable<object>)obj).Cast<object>().ToList();
    }

}

<h2>Reisodcument</h2>


<script type="text/javascript">

    function colorRelevant(id) {

        $(".searchBox").css("border", "1px solid black").css("background", "white");;

        if (id === "reisdocumentNummerZoek") {
            $("#reisdocumentNummerZoek").css("border", "2px solid green").css("background", "lightgreen");
        }


    };

</script>

<script type="text/javascript">

    $(document).ready(function () {
        var aantal = 0
        $('table tbody').each(function () {
            //var num = $(this).children().length;
            // alert(num);
            aantal++;
            $(this).before("<button id='header' class='header' style:'cursor:pointer;'> Resultaat " + aantal + " </button>");
            //alert($(this).html());
            $(this).hide();
        });
        $('.header').on('click', function () {
            $(this).next().slideToggle(100);
        });
    });

</script>



@using (Html.BeginForm("Zoek", "Reisdocument", FormMethod.Post))
{
    <form>
        <div>
            <input onfocus="colorRelevant(this.id)" class="searchBox" type="text" placeholder="reisdocumentNummer" id="reisdocumentNummerZoek" name="reisdocumentNummerZoek" required>
            <input onfocus="colorRelevant(this.id)" class="searchBox" type="text" placeholder="apiVersion" id="apiVersionZoek" name="apiVersionZoek">

            <button type="submit">Zoek</button>

        </div>
    </form>
}

<div>
    Het ophalen van de gegevens van een REISDOCUMENT op basis van het reisdocumentnummer. <br />
    Is nog niet ge"implementeerd bij BRP
</div>

